<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875446474727-kaco74i546q46pbos73sieamth1hki1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875446474727-kaco74i546q46pbos73sieamth1hki1d</string>
	<key>API_KEY</key>
	<string>AIzaSyBZhOu78CvWZcNG2GjaJSFxJHRpWN-ZjeA</string>
	<key>GCM_SENDER_ID</key>
	<string>875446474727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footballapp2</string>
	<key>PROJECT_ID</key>
	<string>son-mobil-proje-yusuf</string>
	<key>STORAGE_BUCKET</key>
	<string>son-mobil-proje-yusuf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875446474727:ios:fe17a2bc1ed241f8008f42</string>
</dict>
</plist>